<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantillas II</title>
</head>
<body>
    <h1 style="color: violet;">Plantillas II</h1>
    <h3>Fecha de hoy: {{today_date.day}}/{{today_date.month}}/{{today_date.year}}</h3>
    <p>En este modulo trabajaremos con variables, objetos y propiedades usandoi el contexto a base de diccionarios</p>
    <p>La clase la impartira el profesor: {{name}} {{last_name}}</p>
    <p>La profersa sustituta es: {{name_2}} {{last_name_2}}</p>
</body>
</html>